 /* FOR PROFILE PAGE */
 .avatar {
    margin-top: 20px;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }


.profile_btn{
    align-content: center;
    margin: 20px;
}

 /* ---------------------------------------- */
 /* FOR INDEX PAGE */
body {
    background-color: white;
    /* background-color: azure; */
    /*background-color: cadetblue; */
}
.all-books {
    padding: 20px;
}

.search-container{
    margin: 50px;
}

.search-bar{        
    margin-left: 20px;
    padding-left: 10px;
    width: 50%;
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.17);

}

.book-card {
    width: 22rem;
    margin: 20px;
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.17);
}

.card-image{
    max-height: 250px;    
    max-width: 250px;
}

.own-tag {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 2px;
    
    word-wrap: break-word;
}
.max-lines {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4em;
    line-height: 1.4em;
  }

.book-container {    
    margin: 20px;
    margin-left: 20%;
    padding: 32px 42px;
    min-height: 300px;
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.17);
}

.watchlisted-icon {
    color: gold;
}

.own-badge{
    margin-right: 5px;
    margin-top: 5px;
}


/* .book-container {
    background-color: powderblue;
    padding: 10px 20px;
    margin-top: 20px;
    max-width: 500px;
    text-align: center;
    border-radius: 15px;
} */

.book-title {
    display: inline-block;
    font-style: italic;
    /* font-size: 25px; */
    flex: 1;
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-parent {
    display: flex;
    align-items: center;
  }

.move-right {
    display: flex;
    justify-content: flex-end;
}

.own-button {
    margin-top:10px;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.5s all;

    background: #131313;
    color: #fff;
    border: none;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.own-button:hover {
    cursor: pointer;
    background-color: rgb(104, 157, 165);
}

.own-button:focus {
    outline: none;
}


.save-button {
    border: none;
    border-radius: 5px;
    background-color: rgb(160, 206, 212);
    padding: 5px 10px;
    transition: 0.5s all;
    margin-right: 55px;
}
/* 
.review-body {
    width: 350px;
    height: 150px;
    resize: none;
    border: none;
    background-color: rgb(225, 247, 250)
}

.other-review-title {
    text-align: left;
    font-weight: bold;
    font-size: 17px;
}

.other-review-name {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    margin-top: 15px;
}

.other-review-body {
    text-align: left;
    font-size: 14px;
}
 */

/* 

.reviews-button:hover {
    cursor: pointer;
    background-color: rgb(104, 157, 165);
}

.reviews-button:focus {
    outline: none;
}

.reviews-section {
    background-color: rgb(192, 240, 247);
    padding: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.your-review {
    display: inline-block;
    height: 250px;
}

.your-review-title {
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    margin-left: 55px;
} */
