{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var save_new_book_url = "{{=URL('api', 'save_new_book')}}";
    var getLoggedInUserUrl = "{{ = URL('api', 'get_logged_in_user') }}";
    var search_url = "{{=URL('api', 'search', user_signature=True, hash_vars=False)}}";
</script>
{{end}}



<div id="profile_page" class="container">
    <div class="row">
        <div class="col-md-4 ">
            <div class="container" style="text-align: center">
                <img src="../static/images/book.png" alt="Book" class="avatar">
            </div>
            <br>
            <div class="container" style="text-align: center">
                <!-- <button class="btn btn-uplo"> -->

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text btn-primary" id="inputGroupFileAddon01">Update file</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">
                            <!-- <button class="btn btn-primary" for="inputGroupFile01">Submit</button> -->
                        </label>
                    </div>
                </div>
            </div>

            <div class="container" style="margin-top:30px">
                <h3>List of tags</h3>
                <div v-for="tag in tags">
                    <span class="badge badge-pill badge-dark">${ tag }</span>
                </div>
            </div>

        </div>
        <!-- New book form -->
        <div v-if="true" class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <h4>Book title</h4>
                                    </div>
                                    <div class="col-9">
                                        <input type="text" class="form-control" placeholder="title"
                                            v-model="vmodel_title" v-on:input="add_tag">
                                    </div>
                                </div>
                                <hr>



                                <div class="form-group row">
                                    <label for="username" class="col-2 col-form-label">Author</label>
                                    <div class="col-10">
                                        <input id="book_author" placeholder="Author" v-model="vmodel_author"
                                            class="form-control here" type="text" v-on:input="add_tag">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-2 col-form-label">Price</label>
                                    <div class="col-3">
                                        <input id="book_price" placeholder="$" v-model="vmodel_price"
                                            class="form-control here" type="number" min="0" v-on:input="add_tag">
                                    </div>
                                    <label for="username" class="col-2 col-form-label">Condition</label>
                                    <div class="col-3">
                                        <!-- <input id="book_condition" placeholder="" v-model="vmodel_condition"
                                            class="form-control here" list="condition"> -->
                                        <select class="form-control" id="exampleFormControlSelect1"
                                            v-model="vmodel_condition">
                                            <!-- <option value="" selected disabled hidden>Choose here</option> -->
                                            <option value="1">New</option>
                                            <option value="2">Semi-new</option>
                                            <option value="3" selected>Used</option>
                                            <option value="4">Very used</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="username" class="col-2 col-form-label">Course</label>
                                    <div class="col-3">
                                        <input id="book_course" placeholder="cmps183" v-model="vmodel_course"
                                            class="form-control here" type="text" v-on:input="add_tag">
                                    </div>
                                    <label for="username" class="col-2 col-form-label">Topic</label>
                                    <div class="col-3">
                                        <input id="book_topic" placeholder="topic" v-model="vmodel_topic"
                                            class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-3 col-form-label">Book description</label>
                                    <div class="col-9">
                                        <textarea class="form-control" aria-label="With textarea"
                                            placeholder="Please, describe the book to help other users" cols="40"
                                            rows="4" v-model="vmodel_book_description" v-on:input="add_tag"></textarea>
                                    </div>



                                    <br>
                                    <br>
                                    <!-- List of tags -->
                                    <hr>
                                    <div class="form-group row" style="margin-top:20px">
                                        <label for="username" class="col-2 col-form-label">Other tags</label>
                                        <div class="col-3">
                                            <input id="book_tag1" placeholder="optional tag" v-model="vmodel_tag1"
                                                class="form-control here" type="text" v-on:input="add_tag">
                                        </div>
                                        <div class="col-3">
                                            <input id="book_tag2" placeholder="optional tag" v-model="vmodel_tag2"
                                                class="form-control here" type="text" v-on:input="add_tag">
                                        </div>
                                        <div class="col-3">
                                            <input id="book_tag3" placeholder="optional tag" v-model="vmodel_tag3"
                                                class="form-control here" type="text" v-on:input="add_tag">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="center" style="margin-top:30px">
                                        <button v-on:click="save_new_book" type="button"
                                            class="btn btn-primary col-4">Submit</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/new_book.js')}}"></script>