{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var save_new_book_url = "{{=URL('api', 'save_new_book')}}";
    var getLoggedInUserUrl = "{{ = URL('api', 'get_logged_in_user') }}";
    var search_url = "{{=URL('api', 'search', user_signature=True, hash_vars=False)}}";
</script>
{{end}}



<div id="profile_page" class="container">
    <div class="row">
        <div class="col-md-4 ">
            <div class="container" style="text-align: center">
                <img src="../static/images/book.png" alt="Book" class="avatar">
            </div>
            <br>
            <div class="container" style="text-align: center">
                <!-- <button class="btn btn-uplo"> -->

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text btn-primary" id="inputGroupFileAddon01">Update file</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">
                            <!-- <button class="btn btn-primary" for="inputGroupFile01">Submit</button> -->
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- New book form -->

        <!-- Profile info -->

        <div v-if="true" class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <h4>Book title</h4>
                                <input type="text" class="form-control" placeholder="title" v-model="book_title"
                                    v-on:input="add_tag">
                                <hr>

                                <div class="form-group">
                                    <h4>Author</h4>
                                    <input type="text" class="form-control" placeholder="Author" v-model="book_author"
                                        v-on:input="add_tag">

                                    <!-- The next deleted for the moment, but includes all the other book atributes -->

                                    <!-- <label for="formGroupExampleInput">Topic</label>
                                    <input type="text" v-model="book_topic" v-on:input="add_tag" /> -->
                                </div>


                                <div class="form-group row">
                                    <label for="username" class="col-2 col-form-label">Author</label>
                                    <div class="col-10">
                                        <input id="book_author" placeholder="Author" v-model="vmodel_author"
                                            class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-2 col-form-label">Price</label>
                                    <div class="col-3">
                                        <input id="book_price" placeholder="$" v-model="vmodel_price"
                                            class="form-control here" type="number" min="0">
                                    </div>
                                    <label for="username" class="col-2 col-form-label">Condition</label>
                                    <div class="col-3">
                                        <!-- <input id="book_condition" placeholder="" v-model="vmodel_condition"
                                            class="form-control here" list="condition"> -->
                                        <select class="form-control" id="exampleFormControlSelect1"
                                            v-model="vmodel_condition">
                                            <option value="1">New</option>
                                            <option value="2">Semi-new</option>
                                            <option value="3" selected>Used</option>
                                            <option value="4">Very used</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="lastname" class="col-4 col-form-label">Last Name</label>
                                    <div class="col-8">
                                        <input id="lastname" v-model="vmodel_last_name" name="lastname"
                                            placeholder="last name" class="form-control here" type="text">
                                    </div>
                                </div>
                                <!-- Should we be able to edit email? -->
                                <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Email*</label>
                                    <div class="col-8">
                                        <!-- <input id="email" name="email" placeholder="Email" class="form-control here"
                                                required="required" type="text"> -->
                                        <h5>${user.email}</h5>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="publicinfo" class="col-4 col-form-label">Public Info</label>
                                    <div class="col-8">
                                        <textarea id="publicinfo" v-model="vmodel_public_info" name="publicinfo"
                                            cols="40" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                                <button v-on:click="save_profile" name="submit" type="submit"
                                    class="btn btn-primary profile_btn">Save</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>


</div>



<div class="container">
    <div class="">
        <div>
            <h1> Add Book</h1>
        </div>
        <div id="vue_new_book" class="display:none">
            <form>
                <div class="form-group">
                    <h4>Book title</h4>
                    <input type="text" class="form-control" placeholder="title" v-model="book_title"
                        v-on:input="add_tag">
                    <!-- <label for="formGroupExampleInput">Book title</label> -->
                    <!-- <input type="text" v-model="book_title" v-on:input="add_tag" /> -->
                </div>
                <div class="form-group">
                    <h4>Topic</h4>
                    <input type="text" class="form-control" placeholder="title" v-model="book_topic"
                        v-on:input="add_tag">

                    <!-- The next deleted for the moment, but includes all the other book atributes -->

                    <!-- <label for="formGroupExampleInput">Topic</label>
                <input type="text" v-model="book_topic" v-on:input="add_tag" /> -->
                </div>
                <!-- <div class="form-group">
                <h4>Author</h4>
                <input type="text" class="form-control" v-model="book_author" v-on:input="add_tag" />
            </div>
            <div class="form-group">
                <h4>Book condition</h4>
                <input type="text" class="form-control" v-model="book_condition" v-on:input="add_tag" />
            </div>
            <div class="form-group">
                <h4>Edition</h4>
                <input type="text" class="form-control" v-model="book_edition" v-on:input="" />
            </div>
            <div class="form-group">
                <h4>Another Label</h4>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
            </div>
        </form> -->

                <div>
                    <h4>Book description</h4>
                </div>
                <div class="input-group">

                    <div class="input-group-prepend">
                        <span class="input-group-text">Book description</span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea"
                        placeholder="Please, describe the book a bit to help other users"></textarea>
                </div>


                <!-- for display all the tags that are goihg to be stored on the database -->
                <h3>List of tags</h3>
                <div v-for="tag in tags">
                    <span class="badge badge-pill badge-dark">${ tag }</span>
                </div>
                <br>
                <button v-on:click="save_new_book" type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/new_book.js')}}"></script>