{{ extend 'layout.html' }}


<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    let get_logged_in_user_url = "{{ = URL('api', 'get_logged_in_user') }}";
    let save_profile_url = "{{ = URL('api', 'save_profile') }}";
    let get_user_books_url = "{{ = URL('api', 'get_user_books') }}";
    let delete_user_book_url = "{{ = URL('api', 'delete_user_book') }}";
    let getAllBooksUrl = "{{ = URL('api', 'get_all_books') }}";
</script>

<link rel="stylesheet" type="text/css" href="{{ = URL('static/css', 'app.css') }}" />
<!------ Include the above in your HEAD tag ---------->

<div id="profile_page" class="container">
    <div class="row">
        <div class="col-md-4 ">
            <div class="container" style="text-align: center">
                <img src="../static/images/avatar.png" alt="Avatar" class="avatar">
            </div>
            <br>
            <div class="container" style="text-align: center">
                <h5>${ user.first_name }</h5>
            </div>
        </div>

        <!-- Profile info -->
        <div v-if="!updating_profile" class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Hello ${ user.first_name }!</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group row">
                                    <label for="username" class="col-4 col-form-label">User Name</label>
                                    <div class="col-8">
                                        <h5>${user.first_name}</h5>
                                        <!-- <input id="username" name="username" :placeholder="placeholder_first_name"
                                            class="form-control here" required="required" type="text" readonly> -->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lastname" class="col-4 col-form-label">Last Name</label>
                                    <div class="col-8">
                                        <!-- <input id="lastname" name="lastname" :placeholder="placeholder_last_name"
                                            class="form-control here" type="text" readonly> -->
                                        <h5>${user.last_name}</h5>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Email*</label>
                                    <div class="col-8">
                                        <!-- <input id="email" name="email" :placeholder="placeholder_email"
                                            class="form-control here" required="required" type="text" readonly> -->
                                        <h5>${user.email}</h5>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="publicinfo" class="col-4 col-form-label">Public Info</label>
                                    <div class="col-8">
                                        <textarea id="publicinfo" name="publicinfo" cols="40" rows="4"
                                            class="form-control" readonly></textarea>
                                    </div>
                                </div>
                            </form>
                            <button v-on:click="update_profile" name="submit" type="" class="btn btn-primary">Update My
                                Profile</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div v-if="updating_profile" class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Hello ${ user.first_name }!</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group row">
                                    <label for="username" class="col-4 col-form-label">User Name</label>
                                    <div class="col-8">
                                        <input id="username" v-model="vmodel_first_name" name="username"
                                            class="form-control here" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lastname" class="col-4 col-form-label">Last Name</label>
                                    <div class="col-8">
                                        <input id="lastname" v-model="vmodel_last_name" name="lastname"
                                            placeholder="last name" class="form-control here" type="text">
                                    </div>
                                </div>
                                <!-- Should we be able to edit email? -->
                                <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Email*</label>
                                    <div class="col-8">
                                        <!-- <input id="email" name="email" placeholder="Email" class="form-control here"
                                            required="required" type="text"> -->
                                        <h5>${user.email}</h5>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="publicinfo" class="col-4 col-form-label">Public Info</label>
                                    <div class="col-8">
                                        <textarea id="publicinfo" v-model="vmodel_public_info" name="publicinfo"
                                            cols="40" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                                <button v-on:click="save_profile" name="submit" type="submit"
                                    class="btn btn-primary profile_btn">Save</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
    <br><br>
    <hr>
    <!-- My Watchlisted Books (dynamic disposition) -->
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <h2>My watchlist</h2>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Warning: If you remove a book from this screen it may be hard to find later!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div v-if="(watchlisted_books.length == 0)">
                    <div class="alert alert-info" role="alert">
                        Looks like there is nothing here!
                    </div>
                </div>
            </div>
            <div v-for="book in watchlisted_books">
                <div class="container book-card" style="background-color:azure; min-height:600px">
                    <!-- Watchlist div -->
                    <div class="d-flex justify-content-end" v-if="(user != '') && (book.is_watchlisted != undefined)">
                        <button class="btn btn-primary" v-on:click="toggle_watchlist(book.index)" style="margin:10px">
                            <span v-if="book.is_watchlisted" class="oi oi-eye watchlisted-icon" title="gold eye icon"
                                aria-hidden="true"></span>
                            <span v-if="!book.is_watchlisted" class="oi oi-eye watchlist-icon" title="eye icon"
                                aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="d-flex justify-content-md-center">

                        <img class="card-img-top card-image" src="../static/images/book.png" alt="Card image cap">
                    </div>
                    <!-- Book body div -->
                    <div class="card-body" style="background-color:azure;">
                        <div class="d-flex justify-content-md-center">
                            <div v-if="book.title.length >25">
                                <h5 class="flex-parent card-title" style="font-size: 16px;">${ book.title }</h5>
                            </div>
                            <div v-else>
                                <h5 class="flex-parent card-title">${ book.title }</h5>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start">
                            <b>Author: &nbsp</b>
                            <p>${book.author}</p>
                        </div>
                        <div v-if="!book.description">
                            <b>Description: </b>
                            <p>This book doesn't have a description</p>
                            <br>
                        </div>
                        <div v-else>
                            <p class="max-lines">${ book.description }</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a href="./index.html" class="text">@owner</a>
                            <b v-if="book.price">&emsp; Price: ${book.price} $</b>
                            <b v-else>&emsp; Not price</b>
                        </div>
                        <h5>Tags:</h5>
                        <div v-if="book.tags" class="d-flex justify-content-start flex-wrap">
                            <div v-for="tag in book.tags">
                                <span class="badge badge-pill badge-dark own-badge">${ tag }</span>
                            </div>
                        </div>
                        <!-- <div style="margin-top:20px">
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                              </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- My Books (dynamic disposition) -->
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <h2>My Books</h2>
            </div>
            <div v-for="book in user_books">

                <div class="container book-card" style="background-color:azure;">
                    <div class="d-flex justify-content-md-center" style=" margin-top:20px">
                        <img class="card-img-top card-image" src="../static/images/book.png" alt="Card image cap">
                    </div>
                    <!-- Book body div -->
                    <div class="card-body" style="background-color:azure;">
                        <div class="d-flex justify-content-md-center">
                            <div v-if="book.title.length >25">
                                <h5 class="flex-parent card-title" style="font-size: 16px;">${ book.title }</h5>
                            </div>
                            <div v-else>
                                <h5 class="flex-parent card-title">${ book.title }</h5>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div>
                                <b>Author: &nbsp ${book.author}</b>
                            </div>
                            <div>
                                <b v-if="book.price">&emsp; Price: ${book.price} $</b>
                                <b v-else>&emsp; Not price</b>
                            </div>
                        </div>

                        <div v-if="!book.description">
                            <b>Description: </b>
                            <p>This book doesn't have a description</p>
                            <br>
                        </div>
                        <div v-else>
                            <p class="max-lines">${ book.description }</p>
                        </div>
                        <h5>Tags:</h5>
                        <div v-if="book.tags" class="d-flex justify-content-start flex-wrap">
                            <div v-for="tag in book.tags">
                                <span class="badge badge-pill badge-dark own-badge">${ tag }</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-md-center">
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            <button class="btn btn-dark" v-on:click="delete_confirmation(book)" style="margin:10px"><i
                                    class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-primary" v-on:click="edit_book(book)" style="margin:10px">
                                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="{{ = URL('static/js', 'profile.js') }}"></script>